@charset "UTF-8";

body {
  font-size: 15px;
  font-family: YuGothic;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

/*header*/
.header-banner {
  z-index: 1000000;
  position: fixed;
  width: 100%;
  background-color: #2CFFB3;
  display: flex;
  height: 80px;
  justify-content: center;
}

.header-icon {
  padding-top: 1.2em;
  padding-right: 10em;
}

.header-menu {
  width: 50%;
}

.header-menu ul {
  display: flex;
  padding-left: 2em;
  padding-top: 1.8em;
}

.header-menu li {
  padding-left: 3em;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 700;
}

.header-menu li:hover {
  color: rgb(255, 216, 22);
}
.pan-list {
  position: fixed;
  padding-top: 7em;
  padding-left: 5em;
}
.pan-list ul{
  display: flex;
}
.pan-next{
  color:#099E06;
  padding-left: 1em;
}
.pan-list li {
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.pan-list li:hover {
  color: black;
}


/*footer*/
i {
  color: white;
}

.footer-wrap {
  text-align: center;
  background-color: #1E671D;
  color: white;
}

.footer-wrap p {
  font-size: 14px;
  font-weight: 200;
}

.footer-top {
  display: flex;
  justify-content: center;
}

.footer-top p {
  color: white;
  padding-top: 3em;
}

.riyou {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.riyou p {
  color: white;
}

.sisetu {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.sisetu p {
  color: white;
  padding: 0 2em;
}

.sns {
  padding-bottom: 2em;
}

.copy-light {
  padding-top: 1em;
  padding-bottom: 3em;
  font-size: 11px;
}

.footer-wrap p:hover {
  color: #ffe30b;
}

.sns h5 {
  font-size: 14px;
  font-weight: 200;
}

.sns-icon i {
  padding: 0 1em;
  padding-top: 0.4em;
}

.sns i:hover {
  color: #ffe30b;
}

.line {
  margin: 2.7rem 1rem;
  width: 2px;
  background-color: #000;
  height: 20px;
}

.line-two {
  margin: 0.3rem 1rem;
  width: 2px;
  background-color: #000;
  height: 20px;
}

/*ここから変更*/
main{
  background-color: #FBFFEB;
  text-align: center;
}
.wrap{
  padding-top: 10rem;
  text-align: center;
}
.title img{
  width: 70px;
}
.title p{
  font-size: 25px;
  font-weight: 600;
  color: #099E06;
  padding-bottom: 3em;
}
.img{
  display: flex;
  flex-flow: column;
}
.title-main{
  max-width: 13%;
  min-width: 10%;
  margin: 0 auto;
}
.pix{
  width: 60%;
  margin: 0 auto;
  padding-top: 3em;
}
.main p{
  padding-top: 2em;
  width: 40%;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 7em;
  color: rgb(45, 45, 45);
  font-size: 16px;
  letter-spacing: 5px;
}

/*レスポンス*/
@media screen and (max-width: 1024px) {
  .tent p{
    width: 50%;
  }
  .BBQ p{
    width: 50%;
  }
  .night p{
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  header .drawer {
    visibility: visible;
    width: 24px;
    position: absolute;
    top: 29px;
    right: 20px;
    border-top: solid 4px rgb(0, 0, 0);
    cursor: pointer;
    z-index: 100;
  }

  header .drawer::before,
  header .drawer::after {
    content: "";
    display: block;
    width: 24px;
    background: rgb(0, 0, 0);
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
  }

  header .drawer::before {
    top: 6px;
  }

  header .drawer::after {
    top: 15px;
  }

  header .header-menu {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgb(181, 244, 183);
    text-align: center;
    padding-top: 30%;
    opacity: 0.9;
  }

  header .header-menu ul {
    display: block;
    padding: 1em;
  }
  .header-menu li{
    padding-left: 0;
  }
  header .header-menu ul li {
    margin: 5% auto;
    font-size: 20px;
  }

  header .header-menu ul li a {
    line-height: 3;
    font-size: 1.75rem;
  }

  header .header-menu ul li.contact {
    width: 30%;
  }

  body.nav-open header .drawer {
    border-top: 0;
    margin: 0;
  }

  body.nav-open header .drawer::before {
    top: 9px;
    transform: rotate(-45deg);
  }

  body.nav-open header .drawer::after {
    top: 9px;
    transform: rotate(45deg);
  }

  .header-icon {
    padding: 0;
    padding-top: 1.2em;
  }
  /*ここまでヘッダー*/
  .sisetu{
    display: none;
  }
  .title-main{
    max-width: none;
    width: 70%;
  }
  .pix {
    width: 90%;
  }
  .tent p{
    width: 70%;
    margin: 0 auto;
    padding-left: 1em;
  }
  .BBQ p {
  width: 70%;
  margin: 0 auto;
  padding-left: 1em;
    }
  .night p {
  width: 70%;
  margin: 0 auto;
  padding-left: 1em;
  }
  .header-icon{
    padding-right: 2em;
  }
}
@media screen and (max-width: 480px) {
  .header-icon img {
      width: 90%;
      padding-top: 0.3em;
    }
}